body{
    background-image: url(../img/f.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.content{
    margin-bottom: 50px;
    content: "";
}
.tittle{
    font-family: titulo;
    text-align: center;
    color:#FFF;
    text-shadow: 1px 1px 4px  rgb(5, 5, 5);
    font-size: 450%;
}
.box{
    margin-top: 100px;
    border-radius: 30px;
    margin: 10px auto;
    position: relative;
    max-width: 650px;
    padding-top: 10px;
    padding: 40px;
    background: rgba(255, 250, 250, 0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.box p{
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: han;
    color: rgb(155, 122, 60);
}
.box  h2{
    font-family: de;
    color: rgb(201, 129, 129);
}
.container-all{
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 10px;
}
.sub{
    margin-top: 0;
    font-size: 200%;
    font-family: de;
    margin-bottom: 10px;
    color: rgb(155, 122, 60);;
}
.container-all img{
    border-radius: 10px;
    width: 250px;
    height: 300px;
    float: left;
    margin-right:20px;
    margin-bottom: 20px;
}
.container-all p{
    font-size: 20px;
    font-weight: 700;
    font-family: p;
    color: rgb(38, 49, 63);
}
.obras{
    overflow: hidden;
}
.obras img{
    border-radius: 10px;
    width: 150px;
    height: 200px;
    float: left;
    margin-right:20px;
    margin-bottom: 20px;
}
.a a{
    float: left;
}
.a img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
